<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sample" parallel="classes" thread-count="10">
<test name="ChromeTest">

    <parameter name="browserName" value="Chrome"/>
    <classes>
        <class name="GoogleHomepage" />
    </classes>

</test>


    <test name="FFTest">
    <parameter name="browserName" value="Firefox" />
    <classes>
        <class name="GoogleHomepage2" />
    </classes>
</test>


</suite>