<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sample" parallel="tests" thread-count="2">
<test name="FFTest">
    <classes>
        <class name="GoogleHomepage" />
    </classes>
</test>
<test name="ChromeTest">
    <classes>
        <class name="GoogleHomepage2" />
    </classes>
</test>
</suite>